<div id="scrollArea">

    <style>
        .typed-cursor {
            opacity: 1;
            -webkit-animation: blink 0.7s infinite;
            -moz-animation: blink 0.7s infinite;
            animation: blink 0.7s infinite;
        }
        
        @keyframes blink {
            0% {
                opacity: 1;
            }
            50% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
        
        @-webkit-keyframes blink {
            0% {
                opacity: 1;
            }
            50% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
        
        @-moz-keyframes blink {
            0% {
                opacity: 1;
            }
            50% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
    </style>

    <div class="row welcome-jumb">


        <div class="col-xs-12 col-md-10 col-xs-offset-0  col-md-offset-1 welcome">

            <div id="typed-strings">
                <p>IT_School @ DataArt: ~/2016<span class="typed-cursor">_</span></p>
            </div>

            <span id="typed"></span>

            <div class="welcome-msg">

                <p>DataArt приглашает студентов и молодых IT-специалистов на бесплатные курсы для начинающих в IT.</p>

                
                    <a href="" ng-click="vm.gotoElement('login-form')" class="btn btn-default home-btn">Регистрация</a><br>
                    <a href="" ng-click="vm.gotoElement('read-more')" class="btn btn-default home-btn">Программа курса</a>
               

            </div>
        </div>



    </div>

   


    <style>
       
   
    </style>

    <div id="read-more" class="row read-more">


        <div class="col-xs-10 col-xs-offset-1 col-sm-3 col-sm-offset-1">
            <h2>IT School Odessa 2016</h2>
        </div>
        <div class="col-xs-10 col-xs-offset-1 col-sm-7 col-sm-offset-0">
            <p>Дорогие друзья, DataArt приглашает студентов и молодых IT-специалистов на бесплатные курсы для начинающих в IT.
                DataArt поможет сориентироваться в потоке технологий, понять основные тенденции, познакомит со своей корпоративной
                культурой.
            </p>
            <p>Программа состоит из курса лекций и домашних заданий, по результатам курсов выпускники получат диплом. Подать
                заявку можно с 21 по 27 сентября по ссылке
                <a href="#">
                    <span class="glyphicon glyphicon-share crimson"></span>
                </a>
            </p>
        </div>


    </div><!--row-->


    <div class="row table-row">

        <div class="col-xs-10 col-xs-offset-1 col-sm-3 col-sm-offset-1">
            <h2>Программа курса DataArt IT School</h2>
        </div>
        
        <div class="col-xs-10 col-xs-offset-1 col-sm-7 col-sm-offset-0">
            <table class="table table-condensed">
                <tr>
                    <td>30.09</td>
                    <td>Обзор IT-индустрии, про DataArt и IT School.</td>
                </tr>
                <tr>
                    <td>07.10</td>
                    <td>Обзор технологий.</td>
                </tr>
                <tr>
                    <td>14.10</td>
                    <td>Системы контроля версий.</td>
                </tr>
                <tr>
                    <td>21.10</td>
                    <td>Введение в .NET.</td>
                </tr>
                <tr>
                    <td>28.10</td>
                    <td>Основы HTML и веб</td>
                </tr>
                <tr>
                    <td>04.11</td>
                    <td>Фронтенд — тренды и фреймворки.</td>
                </tr>
                <tr>
                    <td>11.11</td>
                    <td>Введение в Ruby.</td>
                </tr>
                <tr>
                    <td>18.11</td>
                    <td>Требования, задачи, критерии приемки.</td>
                </tr>
                <tr>
                    <td>02.12</td>
                    <td>Автоматическое тестирование.</td>
                </tr>
                <tr>
                    <td>09.12</td>
                    <td>Обзор кода, парное программирование, паттерны.</td>
                </tr>
                <tr>
                    <td>16.12</td>
                    <td>Методологии разработки, непрерывная интеграция.</td>
                </tr>

            </table>
        </div>
        
        </div>




        <div id="login-form" class="row login-form">





            <form class="col-xs-12 col-xs-offset-0 col-md-8 col-md-offset-2 login-form">
                <h3>Зарегистрируйтесь для прохождения теста</h3>
                <div ng-show="vm.message">{{vm.message}}</div>
                <div class="form-group">
                    <label for="firstname">Имя</label>
                    <input type="text" class="form-control" id="firstname" placeholder="Имя">
                </div>

                <div class="form-group">
                    <label for="secondname">Фамилия</label>
                    <input ng-model="vm.user.firstName" type="text" class="form-control" id="secondname" placeholder="Фамилия">
                </div>

                <div class="form-group">
                    <label for="phone">Телефон</label>
                    <input ng-model="vm.user.phone" type="text" ng-model="vm.user.lastName" class="form-control" id="phone" placeholder="Телефон">
                </div>

                <div class="form-group">
                    <label for="exampleInputEmail1">Email</label>
                    <input ng-model="vm.user.email" type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Пароль</label>
                    <input ng-model="vm.user.password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Пароль">
                </div>

                <div class="form-btn">
                    <a href="" ng-click="vm.gotoElement('login-form')" class="btn btn-default home-btn">Регистрация</a>
                    <a href="" ng-click="vm.gotoElement('more-info')" class="btn btn-default home-btn">Отмена</a>
                </div>
            </form>



        </div>



    </div>
    <!--#sroll-area-->

    <script>
        $(function(){
        $("#typed").typed({
            stringsElement: $('#typed-strings'),
            typeSpeed: 100
        });
        
         $('a[href*="#"]:not([href="#"])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html, body').animate({
          scrollTop: target.offset().top
        }, 500);
        return false;
      }
    }
  });
  
    });

    </script>