<div class="col-sm-1 col-md-3"></div>
<div class="col-sm-12 col-md-6 welcome">
    <h1>#DataArt / IT School / 2016 _</h1>
    <div class="welcome-msg">

        <p>DataArt приглашает студентов и молодых IT-специалистов на бесплатные курсы для начинающих в IT.</p>

        <div class="welcome-btn">
            <a ui-sref="login" class="btn btn-default btn-block">Регистрация</a>
            <a ui-sref="login" class="btn btn-default btn-block">Подробнее</a>
        </div>

    </div>
</div>
<div class="col-sm-1 col-md-3"></div>